.car_main {
    height: 875px;
    background-color: #fff;
    /*margin-top: 80px;*/
}
.car_main .mainInner {
    height: 335px;
    padding-top: 200px;
}
.car_main .mainInner .emptyCar {
    display: block;
    width: 204px;
    height: 116px;
    margin: 0 auto;
}
.car_main .mainInner p {
    text-align: center;
    font-size: 14px;
    color: #e7cda7;
    margin-bottom: 28px;
}
.car_main .mainInner a {
    display: block;
    text-align: center;
    color: #684029;
    font-size: 12px;
}
.car_main .mainInner a:hover {
    color: #bc9677;
}
.car_main h2 {
    height: 49px;
    font-size: 18px;
    line-height: 49px;
    color: #684029;
    font-weight: normal;
}
.car_main .cakes {
    width: 100%;
    height: 267px;
    border-top: 2px solid #cecac7;
    display: flex;
    padding-top: 22px;
}
.car_main .cakes a {
    flex: 1;
}
.car_main .cakes a img {
    width: 255px;
    height: 255px;
}