/***********banner图***********/
.banner {
    height: 480px;
    background-color: pink;
    width: 100%;
    min-width: 980px;
    position: relative;
}
.bannerBox {
    position: relative;
    width: 100%;
    /*min-width: 980px;*/
    height: 480px;
}
.bannerBox li {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 480px;
}
.bannerBox li:nth-child(1){
    z-index: 5;
}
.bannerBox li:nth-child(2){
    z-index: 4;
}
.bannerBox li:nth-child(3){
    z-index: 3;
}
.bannerBox li:nth-child(4){
    z-index: 2;
}
.bannerBox li:nth-child(5){
    z-index: 1;
}

.banner .bannerBox li a {
    display: block;
    width: 100%;
    /*min-width: 980px;*/
    height: 480px;
    /*-webkit-background-size: auto auto;*/
    /*background-size: auto auto;*/
}
.bannerBox li a:nth-child(1){
    background: url("../images/cake1.jpg") no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}
.bannerBox li a:nth-child(2){
    background: url("../images/cake2.jpg") no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}
.bannerBox li a:nth-child(3){
    background: url("../images/cake3.jpg") no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}
.bannerBox li a:nth-child(4){
    background: url("../images/cake4.jpg") no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}
.bannerBox li a:nth-child(5){
    background: url("../images/cake5.jpg") no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}
.banner .smallBtn {
    width: 90px;
    height: 10px;
    position: absolute;
    left: 50%;
    margin-left: -45px;
    bottom: 24px;
    display: flex;
    justify-content: space-around;
    z-index: 10;
}
.smallBtn li {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
}
.smallBtn .thisBtn {
    background-color: #442818;
}
/***********首页大选项***********/
.jump {
    height: 169px;
    background-color: #fff;
}
.jumpInner {
    height: 169px;
    background-color: #fefefe;
    /*display: flex;*/
    /*justify-content: space-around;*/
    /*align-items: center;*/
    background-color: #fff;
    padding-left: 50px;
    width: 1140px;
}
.jumpInner a {
    display: block;
    float: left;
    margin: 34.5px 18px 34.5px 6px;
    width: 200px;
    height: 100px;
    border-radius: 8px;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.06);
}
.jumpInner a:nth-child(1){
    /*margin-left: 42px;*/
}
.jumpInner a:hover{
    opacity: 0.8;
}
/***********新品蛋糕***********/
.new {
    height: 317px;
    background-color: #fff;
    margin-bottom: 20px;
}
.newInner {
    height: 299px;
    background-color: #fff;
    padding-top: 18px;
    padding-left: 50px;
    width: 1140px;
}
.newInner h2 {
    height: 54px;
    font-size: 27px;
    line-height: 54px;
    color: #724228;
    font-weight: normal;
}
.newInner h2 span {
    font-size: 14px;
}
.newInner a {
    display: block;
    width: 1140px;
    height: 225px;
    margin-top: 20px;
}
.newInner a img {
    width: 1140px;
    height: 225px;
}
/***********新品蛋糕列表***********/
.newcake_list {
    height: 397px;
    background-color: #fff;
}
.newcake_listInner {
    height: 397px;
    background-color: #fff;
    padding-left: 51px;
    width: 1140px;
    display: flex;
    justify-content: space-between;
}
.newcake_listInner ul {
    width: 1140px;
    height: 397px;
    display: flex;
    justify-content: space-between;
}
.newcake_listInner ul li {
    float: left;
    width: 263px;
    height: 397px;
    background-color: #fff;
    border-radius: 8px;
}
.newcake_listInner ul li .a_img{
    display: block;
    width: 263px;
    height: 230px;
    background-color: #fafafa;
    border-radius: 8px;
    margin-bottom: 10px;
}
.newcake_listInner ul li .cakeName {
    width: 100%;
    height: 97px;
    border-bottom: 1px dashed #d5bfa7;
    margin-bottom: 14px;
}
.newcake_listInner ul li .cakeName h4 a {
    display: block;
    font-size: 14px;
    height: 23px;
    line-height: 23px;
    color: #000;
}
.newcake_listInner ul li .cakeName p a {
    display: block;
    width: 100%;
    height: 24px;
    line-height: 24px;
    font-size: 14px;
    color: #616161;
}
.newcake_listInner ul li .cakeName .threeBtn {
    width: 259px;
    height: 40px;
    padding-left: 4px;
}
.newcake_listInner ul li .cakeName .threeBtn a {
    display: block;
    float: left;
    width: 51px;
    height: 17px;
    border: 1px solid #d5bfa7;
    color: #d5bfa7;
    border-radius: 7px;
    margin-right: 6px;
    text-align: center;
    line-height: 17px;
    font-size: 12px;
}
.newcake_listInner ul li .buy {
    width: 100%;
    height: 21px;
}
.newcake_listInner ul li .buy .buyBtn {
    float: right;
    width: 80px;
    height: 21px;
    background-color: #643e28;
    color: #fff;
    cursor: pointer;
    vertical-align: bottom;
}
.newcake_listInner ul li .buy span {
    display: block;
    float: left;
    height: 21px;
    line-height: 21px;
    font-size: 14px;
    color: #c19788;
    vertical-align: bottom;
}
/***********生日蛋糕***********/
.birth {
    height: 317px;
    background-color: #fff;
    margin-bottom: 20px;
}
.birthInner {
    height: 299px;
    background-color: #fff;
    padding-top: 18px;
    padding-left: 50px;
    width: 1140px;
}
.birthInner h2 {
    height: 54px;
    font-size: 27px;
    line-height: 54px;
    color: #724228;
    font-weight: normal;
}
.birthInner h2 span {
    font-size: 14px;
}
.birthInner a {
    display: block;
    width: 1140px;
    height: 225px;
    margin-top: 20px;
}
.birthInner a img {
    width: 1140px;
    height: 225px;
}
/***********生日蛋糕列表***********/
.birthcake_list {
    height: 397px;
    background-color: #fff;
}
.birthcake_listInner {
    height: 397px;
    background-color: #fff;
    padding-left: 51px;
    width: 1140px;
    display: flex;
    justify-content: space-between;
}
.birthcake_listInner ul {
    width: 1140px;
    height: 397px;
    display: flex;
    justify-content: space-between;
}
.birthcake_listInner ul li {
    float: left;
    width: 263px;
    height: 397px;
    background-color: #fff;
    border-radius: 8px;
}
.birthcake_listInner ul li .a_img{
    display: block;
    width: 263px;
    height: 230px;
    background-color: #fafafa;
    border-radius: 8px;
    margin-bottom: 10px;
}
.birthcake_listInner ul li .cakeName {
    width: 100%;
    height: 97px;
    border-bottom: 1px dashed #d5bfa7;
    margin-bottom: 14px;
}
.birthcake_listInner ul li .cakeName h4 a {
    display: block;
    font-size: 14px;
    height: 23px;
    line-height: 23px;
    color: #000;
}
.birthcake_listInner ul li .cakeName p a {
    display: block;
    width: 100%;
    height: 24px;
    line-height: 24px;
    font-size: 14px;
    color: #616161;
}
.birthcake_listInner ul li .cakeName .threeBtn {
    width: 259px;
    height: 40px;
    padding-left: 4px;
}
.birthcake_listInner ul li .cakeName .threeBtn a {
    display: block;
    float: left;
    width: 51px;
    height: 17px;
    border: 1px solid #d5bfa7;
    color: #d5bfa7;
    border-radius: 7px;
    margin-right: 6px;
    text-align: center;
    line-height: 17px;
    font-size: 12px;
}
.birthcake_listInner ul li .buy {
    width: 100%;
    height: 21px;
}
.birthcake_listInner ul li .buy .buyBtn {
    float: right;
    width: 80px;
    height: 21px;
    background-color: #643e28;
    color: #fff;
    cursor: pointer;
    vertical-align: bottom;
}
.birthcake_listInner ul li .buy span {
    display: block;
    float: left;
    height: 21px;
    line-height: 21px;
    font-size: 14px;
    color: #c19788;
    vertical-align: bottom;
}
/***********儿童蛋糕***********/
.child {
    height: 317px;
    background-color: #fff;
    margin-bottom: 20px;
}
.childInner {
    height: 299px;
    background-color: #fff;
    padding-top: 18px;
    padding-left: 50px;
    width: 1140px;
}
.childInner h2 {
    height: 54px;
    font-size: 27px;
    line-height: 54px;
    color: #724228;
    font-weight: normal;
}
.childInner h2 span {
    font-size: 14px;
}
.childInner a {
    display: block;
    width: 1140px;
    height: 225px;
    margin-top: 20px;
}
.childInner a img {
    width: 1140px;
    height: 225px;
}
/***********儿童蛋糕列表***********/
.childcake_list {
    height: 397px;
    background-color: #fff;
}
.childcake_listInner {
    height: 397px;
    background-color: #fff;
    padding-left: 51px;
    width: 1140px;
    display: flex;
    justify-content: space-between;
}
.childcake_listInner ul {
    width: 1140px;
    height: 397px;
    display: flex;
    justify-content: space-between;
}
.childcake_listInner ul li {
    float: left;
    width: 263px;
    height: 397px;
    background-color: #fff;
    border-radius: 8px;
}
.childcake_listInner ul li .a_img{
    display: block;
    width: 263px;
    height: 230px;
    background-color: #fafafa;
    border-radius: 8px;
    margin-bottom: 10px;
}
.childcake_listInner ul li .cakeName {
    width: 100%;
    height: 97px;
    border-bottom: 1px dashed #d5bfa7;
    margin-bottom: 14px;
}
.childcake_listInner ul li .cakeName h4 a {
    display: block;
    font-size: 14px;
    height: 23px;
    line-height: 23px;
    color: #000;
}
.childcake_listInner ul li .cakeName p a {
    display: block;
    width: 100%;
    height: 24px;
    line-height: 24px;
    font-size: 14px;
    color: #616161;
}
.childcake_listInner ul li .cakeName .threeBtn {
    width: 259px;
    height: 40px;
    padding-left: 4px;
}
.childcake_listInner ul li .cakeName .threeBtn a {
    display: block;
    float: left;
    width: 51px;
    height: 17px;
    border: 1px solid #d5bfa7;
    color: #d5bfa7;
    border-radius: 7px;
    margin-right: 6px;
    text-align: center;
    line-height: 17px;
    font-size: 12px;
}
.childcake_listInner ul li .buy {
    width: 100%;
    height: 21px;
}
.childcake_listInner ul li .buy .buyBtn {
    float: right;
    width: 80px;
    height: 21px;
    background-color: #643e28;
    color: #fff;
    cursor: pointer;
    vertical-align: bottom;
}
.childcake_listInner ul li .buy span {
    display: block;
    float: left;
    height: 21px;
    line-height: 21px;
    font-size: 14px;
    color: #c19788;
    vertical-align: bottom;
}
/***********聚会蛋糕***********/
.party {
    height: 317px;
    background-color: #fff;
    margin-bottom: 20px;
}
.partyInner {
    height: 299px;
    background-color: #fff;
    padding-top: 18px;
    padding-left: 50px;
    width: 1140px;
}
.partyInner h2 {
    height: 54px;
    font-size: 27px;
    line-height: 54px;
    color: #724228;
    font-weight: normal;
}
.partyInner h2 span {
    font-size: 14px;
}
.partyInner a {
    display: block;
    width: 1140px;
    height: 225px;
    margin-top: 20px;
}
.partyInner a img {
    width: 1140px;
    height: 225px;
}
/***********聚会蛋糕列表***********/
.partycake_list {
    height: 397px;
    background-color: #fff;
}
.partycake_listInner {
    height: 397px;
    background-color: #fff;
    padding-left: 51px;
    width: 1140px;
    display: flex;
    justify-content: space-between;
}
.partycake_listInner ul {
    width: 1140px;
    height: 397px;
    display: flex;
    justify-content: space-between;
}
.partycake_listInner ul li {
    float: left;
    width: 263px;
    height: 397px;
    background-color: #fff;
    border-radius: 8px;
}
.partycake_listInner ul li .a_img{
    display: block;
    width: 263px;
    height: 230px;
    background-color: #fafafa;
    border-radius: 8px;
    margin-bottom: 10px;
}
.partycake_listInner ul li .cakeName {
    width: 100%;
    height: 97px;
    border-bottom: 1px dashed #d5bfa7;
    margin-bottom: 14px;
}
.partycake_listInner ul li .cakeName h4 a {
    display: block;
    font-size: 14px;
    height: 23px;
    line-height: 23px;
    color: #000;
}
.partycake_listInner ul li .cakeName p a {
    display: block;
    width: 100%;
    height: 24px;
    line-height: 24px;
    font-size: 14px;
    color: #616161;
}
.partycake_listInner ul li .cakeName .threeBtn {
    width: 259px;
    height: 40px;
    padding-left: 4px;
}
.partycake_listInner ul li .cakeName .threeBtn a {
    display: block;
    float: left;
    width: 51px;
    height: 17px;
    border: 1px solid #d5bfa7;
    color: #d5bfa7;
    border-radius: 7px;
    margin-right: 6px;
    text-align: center;
    line-height: 17px;
    font-size: 12px;
}
.partycake_listInner ul li .buy {
    width: 100%;
    height: 21px;
}
.partycake_listInner ul li .buy .buyBtn {
    float: right;
    width: 80px;
    height: 21px;
    background-color: #643e28;
    color: #fff;
    cursor: pointer;
    vertical-align: bottom;
}
.partycake_listInner ul li .buy span {
    display: block;
    float: left;
    height: 21px;
    line-height: 21px;
    font-size: 14px;
    color: #c19788;
    vertical-align: bottom;
}
/***********活动门***********/
.door {
    height: 345px;
    background-color: #fff;
    margin-bottom: 20px;
}
.doorInner {
    height: 325px;
    background-color: #fff;
    padding-top: 18px;
    padding-left: 50px;
    width: 1140px;
}
.doorInner h2 {
    height: 54px;
    font-size: 27px;
    line-height: 54px;
    color: #724228;
    font-weight: normal;
}
.doorInner h2 span {
    font-size: 14px;
}
.doorInner a {
    display: block;
    width: 542px;
    height: 252px;
    margin-top: 20px;
}
.doorInner a img {
    width: 542px;
    height: 252px;
}
/***********文章***********/
.note {
    height: 545px;
    background-color: #fff;
    margin-bottom: 20px;
}
.noteInner {
    height: 525px;
    background-color: #fff;
    padding-top: 18px;
    padding-left: 50px;
    width: 1140px;
}
.noteInner h2 {
    height: 54px;
    font-size: 27px;
    line-height: 54px;
    color: #724228;
    font-weight: normal;
}
.noteInner h2 span {
    font-size: 14px;
}
.noteInner h2 i {
    font-style: normal;
    float: right;
    font-weight: normal;
    font-size: 12px;
    margin-right: 40px;
    color: #aa5d43;
}
.noteInner a {
    display: block;
    width: 542px;
    height: 345px;
    margin-top: 20px;
    float: left;
    margin-right: 16px;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.10);
}
.noteInner a img {
    width: 542px;
    height: 252px;
    border-radius: 5px 5px 0 0;
    display: block;
}
.noteInner a span {
    display: block;
    height: 70px;
    width: 507px;
    padding-top: 23px;
    padding-left: 17px;
    padding-right: 18px;
}
.noteInner a span i {
    font-style: normal;
    vertical-align: bottom;
}
.noteInner a span .i_left {
    float: left;
    font-size: 24px;
    color: #000;
}
.noteInner a span .i_right {
    float: right;
    font-size: 12px;
    color: #ad814b;
    height: 33px;
    line-height: 33px;
}